<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ShetuanhuodongMapper">
  <resultMap id="BaseResultMap" type="com.entity.Shetuanhuodong">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="huodongmingcheng" jdbcType="VARCHAR" property="huodongmingcheng" />    <result column="huodongshijian" jdbcType="VARCHAR" property="huodongshijian" />    <result column="shetuanbianhao" jdbcType="VARCHAR" property="shetuanbianhao" />    <result column="shetuanmingcheng" jdbcType="VARCHAR" property="shetuanmingcheng" />    <result column="huodongjianjie" jdbcType="VARCHAR" property="huodongjianjie" />    <result column="issh" jdbcType="VARCHAR" property="issh" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, huodongmingcheng,huodongshijian,shetuanbianhao,shetuanmingcheng,huodongjianjie,issh, addtime
  </sql>
  <select id="quchongShetuanhuodong"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from shetuanhuodong 
    where shetuanbianhao = #{shetuanbianhao,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from shetuanhuodong  where 1=1
    <if test="huodongmingcheng!=null">and huodongmingcheng like  concat('%',#{huodongmingcheng,jdbcType=VARCHAR},'%')</if>     <if test="huodongshijian1!=null">and huodongshijian &gt;=  concat('',#{huodongshijian1,jdbcType=VARCHAR},'')</if>     <if test="huodongshijian2!=null">and huodongshijian &lt;=  concat('',#{huodongshijian2,jdbcType=VARCHAR},'')</if>     <if test="shetuanbianhao!=null">and shetuanbianhao like  concat('%',#{shetuanbianhao,jdbcType=VARCHAR},'%')</if>     <if test="shetuanmingcheng!=null">and shetuanmingcheng like  concat('%',#{shetuanmingcheng,jdbcType=VARCHAR},'%')</if>     <if test="huodongjianjie!=null">and huodongjianjie like  concat('%',#{huodongjianjie,jdbcType=VARCHAR},'%')</if>     <if test="issh!=null">and issh like  concat('%',#{issh,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from shetuanhuodong  where 1=1
    <if test="shetuanbianhao!=null">
    and shetuanbianhao =#{shetuanbianhao}
    </if>
  </select>
  
  <select id="getsyshetuanhuodong1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from shetuanhuodong  where 1=1
    limit 0,5
  </select>
  <select id="getsyshetuanhuodong2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from shetuanhuodong  where 1=1
    limit 0,5
  </select>
  <select id="getsyshetuanhuodong3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from shetuanhuodong  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from shetuanhuodong where 1=1 
     <if test="huodongmingcheng!=null">and huodongmingcheng like  concat('%',#{huodongmingcheng,jdbcType=VARCHAR},'%')</if>     <if test="huodongshijian1!=null">and huodongshijian &gt;=  concat('',#{huodongshijian1,jdbcType=VARCHAR},'')</if>     <if test="huodongshijian2!=null">and huodongshijian &lt;=  concat('',#{huodongshijian2,jdbcType=VARCHAR},'')</if>     <if test="shetuanbianhao!=null">and shetuanbianhao like  concat('%',#{shetuanbianhao,jdbcType=VARCHAR},'%')</if>     <if test="shetuanmingcheng!=null">and shetuanmingcheng like  concat('%',#{shetuanmingcheng,jdbcType=VARCHAR},'%')</if>     <if test="huodongjianjie!=null">and huodongjianjie like  concat('%',#{huodongjianjie,jdbcType=VARCHAR},'%')</if>     <if test="issh!=null">and issh like  concat('%',#{issh,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shetuanhuodong
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shetuanhuodong
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Shetuanhuodong">
    insert into shetuanhuodong (id, huodongmingcheng,huodongshijian,shetuanbianhao,shetuanmingcheng,huodongjianjie, addtime)
    values (#{id,jdbcType=INTEGER}, #{huodongmingcheng,jdbcType=VARCHAR},#{huodongshijian,jdbcType=VARCHAR},#{shetuanbianhao,jdbcType=VARCHAR},#{shetuanmingcheng,jdbcType=VARCHAR},#{huodongjianjie,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Shetuanhuodong">
    insert into shetuanhuodong
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="huodongmingcheng != null"> huodongmingcheng, </if>      <if test="huodongshijian != null"> huodongshijian, </if>      <if test="shetuanbianhao != null"> shetuanbianhao, </if>      <if test="shetuanmingcheng != null"> shetuanmingcheng, </if>      <if test="huodongjianjie != null"> huodongjianjie, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="huodongmingcheng != null"> #{huodongmingcheng,jdbcType=VARCHAR},</if>      <if test="huodongshijian != null"> #{huodongshijian,jdbcType=VARCHAR},</if>      <if test="shetuanbianhao != null"> #{shetuanbianhao,jdbcType=VARCHAR},</if>      <if test="shetuanmingcheng != null"> #{shetuanmingcheng,jdbcType=VARCHAR},</if>      <if test="huodongjianjie != null"> #{huodongjianjie,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Shetuanhuodong">
    update shetuanhuodong
    <set>
	  <if test="huodongmingcheng != null"> huodongmingcheng = #{huodongmingcheng,jdbcType=VARCHAR},</if>      <if test="huodongshijian != null"> huodongshijian = #{huodongshijian,jdbcType=VARCHAR},</if>      <if test="shetuanbianhao != null"> shetuanbianhao = #{shetuanbianhao,jdbcType=VARCHAR},</if>      <if test="shetuanmingcheng != null"> shetuanmingcheng = #{shetuanmingcheng,jdbcType=VARCHAR},</if>      <if test="huodongjianjie != null"> huodongjianjie = #{huodongjianjie,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Shetuanhuodong">
    update shetuanhuodong
    set huodongmingcheng = #{huodongmingcheng,jdbcType=VARCHAR},huodongshijian = #{huodongshijian,jdbcType=VARCHAR},shetuanbianhao = #{shetuanbianhao,jdbcType=VARCHAR},shetuanmingcheng = #{shetuanmingcheng,jdbcType=VARCHAR},huodongjianjie = #{huodongjianjie,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
